body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    margin: 0;
    overflow: hidden;
}

.textarea {
    width: 750px;
    resize: none;
    border: 0;
    height: 850px;
    text-overflow: clip;
    font-size: 22px;
    padding: 0 80px 0 20px;
    font-family: "Ubuntu", sans-serif;
}

.header {
    font-weight: initial;
    color: #323232;
    font-family: "Ubuntu", sans-serif;
    font-size: 42px;
    padding: 0 20px;
}


.container {
    padding: 20px 0 0 80px;
    border-right: 1px solid #dadada;
}

.verdict {
    padding: 20px 0 0 80px;
}

.left-block {
    height: 10000px;
    width: 60px;
    background: #323232;
    min-width: 60px;
}

.verdict-positive-header, .verdict-negative-header {
    display: inline-block;
    padding-right: 20px;
    color: #99a;
    font-weight: normal;
    padding-left: 5px;
    margin-bottom: 10px;
}

.verdict-positive, .verdict-negative {
    color: #323232;
    padding-top: 15px;
}

.progress-bar-positive {}

.progress-bar-inside-positive {
    background: lightgreen;
    height: 20px;
    width: 300px;
    border-radius: 5px;
}

.progress-bar-negative {}

.progress-bar-inside-negative {
    background: coral;
    height: 20px;
    width: 500px;
    border-radius: 5px;
}

.progress-bar {
    background: #ddddf6;
    height: 20px;
    width: 700px;
    border-radius: 5px;
}

.analyse-btn {
    z-index: 100;
    position: absolute;
    top: 300px;
    left: 915px;
    padding: 22px 0;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid #dadada;
    background: #fdfdff;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}


.textarea{
    width: 750px;
    height: 850px;
    text-overflow: clip;
    font-size: 22px;
    padding: 0 80px 0 20px;
    overflow: auto;
    line-height: 30px;
}


.textarea__text-positive{
    background: lightgreen;
}

.textarea__text-negative{
    background: coral
}